* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

section {
  text-align: center;
}

section article {
  text-align: center;
}


section article div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5vh 40vw;
}

section article div p {
  display: flex;
  justify-content: left;
}